<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/admin_head :: admin_head(form=true)"></div>
</head>
<body style="min-height: 100vh">
<main>
    <div th:replace="fragments/sidebar :: sidebar(selected='retailers')"></div>
    <section>
        <form th:action="${post_url}" method="post">
            <div class="form-group">
                <label for="name">Название</label>
                <input class="form-control" id="name" placeholder="Введите название" name="name" th:value="${name}" required>
            </div>
            <div class="form-group">
                <label for="logo">Логотип</label>
                <input type="url" class="form-control" id="logo" name="logo" placeholder="Введите URL логотипа" th:value="${logo}" th:required="${post_url.endsWith('/new')}">
            </div>
            <div class="btn-toolbar">
                <button type="submit" class="btn btn-primary me-2">Сохранить</button>
                <button type="button" class="btn btn-light"  onclick="history.back();">Назад</button>
            </div>
        </form>
    </section>
</main>
</body>
</html>
